@import '../variables.scss';
@import '../mixins.scss';

.header {
   padding-top: 30px;
   padding-bottom: 35px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 50;
   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
   }

   &__logo {
      font-family: $fontheading;
      font-size: 25px;
      color: #fff;
      font-weight: bold;
      font-style: italic;

      z-index: 3;

      span {
         color: $colorYellow;
      }
   }

   &__overlay {
      display: flex;
      align-items: center;
   }

   &__navigation {
      padding-top: 10px;
   }

   &__menu {
      display: flex;
   }

   &__item {
      margin-left: 28px;
   }

   &__link {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: $colorYellow;
      text-transform: uppercase;

      position: relative;

      &:hover {
         color: #fff;
      }

      &:before {
         content: '';
         position: absolute;
         transition: transform .5s ease;
         left: 0;
         bottom: 0;
         width: 80%;
         height: 2px;
         background: #fff;
         transform: scaleX(0);

         bottom: -10px;
         left: 50%;
         margin-left: -40%;
      }

      &:hover:before {
         transform: scaleX(1);
      }

      
   }

   &__search {

      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: $colorYellow;

      padding-top: 11px;
      margin-left: 25px;

      &:hover {
         color: #fff;

         transition: all 0.3s ease 0s;
      }
   }

   &__burger {
      display: none;
   }
}

@media (max-width: 770px) {
   
   .header {
      padding-top: 15px;
      padding-bottom: 20px;
   }

   .container {
      width: 100%;
      padding: 0;
   }

   .header__navigation {
      position: fixed;
      background: #090711;
      left: 0;
      top: -200%;
      right: -100%;
      width: 100%;
      height: 100%;
      padding-top: 60px;
      z-index: 2;

      transition: all 0.3s ease 0s;
      overflow: auto;
   }

   .header__menu {
      display: block;
   }

   .header__item {
      margin: 0;
      text-align: center;
      padding: 20px 0;

      border-top: 1px solid #313703;
      border-bottom: 1px solid #313703;
   }

   .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
      

      &:before {
         content: '';
         background: #fff;
         position: absolute;
         width: 100%;
         height: 2px;
         transition: all 0.3s ease 0s;
      }
      &:after {
         content: '';
         background: #fff;
         position: absolute;
         width: 100%;
         height: 2px;
         transition: all 0.3s ease 0s;
      }

      &:before {
         top: 0;
      }

      &:after {
         bottom: 0;
      }

      &.active:before {
         transform: rotate(45deg);
         top: 9px;
      }

      &.active span {
         transform: scale(0);
      }

      &.active:after {
         transform: rotate(-45deg);
         bottom: 9px; 
      }
   }

   .header__search {
      // font-size: 20px;
      // padding: 0;
      // margin: 0;
      // color: #fff;
      // margin-right: 20px;
      // padding-top: 4px;

      display: none;
   }

   .burger__body {
      display: block;
      position: relative;
      width: 100%;
      height: 2px;
      background: #fff;
      left: 0;
      top: 8.5px;

      transition: all 0.3s ease 0s;
   }
}

