@import 'variables.scss';
@import 'mixins.scss';
@import 'normalize.css';
@import 'nullstyle.scss';


@import 'sections/header.scss';
@import 'sections/banner.scss';
@import 'sections/about';
@import 'sections/stat.scss';
@import 'sections/services.scss';
@import 'sections/devices.scss';
@import 'sections/feature.scss';
@import 'sections/comments.scss';
@import 'sections/team.scss';
@import 'sections/works.scss';
@import 'sections/clients.scss';
@import 'sections/blog.scss';
@import 'sections/map.scss';
@import 'sections/footer.scss';

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
}

body {
   font-family: $fonttitle;
}

.container {
   max-width: $maxwidth;
   margin: 0 auto;
   padding: 0 15px;
}

.active {
   top: 0;
   background: #f38181;
}

.lock {
   overflow: hidden;
}